.gride_container {
  display: grid !important;
  grid-template-columns: auto auto;
  border: 1px solid $light_gray;
  padding: 30px;
  border-radius: 4px;

  .repo_box {
    margin: 4px;
    border: 1px solid $light_gray;
    border-radius: 4px;
    margin-left: 5px;
    padding-inline-start: 35px;
    padding-inline-end: 35px;

    max-width: 488px;
    min-width: 488px;

    justify-content: center;
    span {
      margin-top: 6px;
      font-size: 15px;
      color: gray;
    }
    .visibility {
      border: 1px solid $light_gray;
      border-radius: 20px;
      width: 50px;
      width: 73px;
      height: 34px;
      margin-top: 0;
    }
    .f-row {
      justify-content: space-between;
      :nth-child(1) {
        color: $dark_blue;
        font-weight: 600;
      }
    }
    .t-row {
      justify-content: flex-start;
      span {
        padding: 11px;
      }
    }
  }
  .active {
    border-width: 2px !important;
    font-weight: 600;
  }
  .pageNumbers {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    margin-top: 47px;
  }
  .pageNumbers li {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
  }
  .pageNumbers li button {
    background: transparent;
    border: none;
  }
}
